<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="jsonParser" class="com.tek.JsonParser"/>
    <bean id="xmlParser" class="com.tek.XMLParser"/>

    <bean id="parseFactory"
          class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
        <property name="serviceLocatorInterface" value="com.tek.IParseFactory"/>
    </bean>

    <bean id="clientBean" class="com.tek.ClientBean">
        <!-- setter based dependency injection of parsefactory into client -->
        <property name="parseFactory" ref="parseFactory"/>
    </bean>

</beans>

